<div class="panel-body">
	
	<h2 style="text-align: center;"><%= gettext "Welcome to %{name}", name: "Eltar" %></h2>
	<p class="lead" style="text-align: center;">A personal link bookmarking any topics from internet.</p>

	<div class="form-group" style="text-align: center;">
	    <%= link "To Topics", to: link_path(@conn, :index), class: "btn btn-primary" %> 
	</div>
	
</div>
